<html>
 <head>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
        border: 1px solid black;
        }
    </style>
     <body>
         <h3>Hello Team</h3>
         <p>Here the candidate details:</p>
         <div>
            <table >
                <tr>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Linkedin Profile</th>
                </tr>
                    <tr>
                      <td><%= name %></td>
                      <td><%= mobileNumber %></td>
                      <td><%= email %></td>
                      <td><%= linkedin %></td>
                    </tr>
            </table>
        </div>
         
     </body>
 </head>
 <footer>

 </footer>
</html>