<html>
    <head>
        <style>
            body{
                color: blue;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: x-large;
            }


            
        </style>
        <body>
            <p style="color: aquamarine;">Hey <%= name %>,</p>
            <p style="font-size: x-large; font:bold"> Please click below to confirm your email</p>
            <p>
                <a href="<%= url %>">Confirm</a>
            </p>

            <p>If you did not request this email you can safely ignore it.</p>
            
        </body>
    </head>
</html>

