<html>
    <head>
        <body>
            <h4>I am ___ The co-founder at Prodo</h4>
            <p>Thank you for trusting me to meet your business' needs. I bring you over_____ (number of items we have in inventory) items whenever and wherever you want.
            </p>
            <p>I am absolutely thrilled to have you onboard to our community of ______ businesses just like yours.
            </p>
            <p>Your username is: ____________</p>
            <h4>This is how I'll get your procurement done:</h4>
            <h4>-you are here-</h4>
        </body>
    </head>
</html>