<html>
 <head>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
        border: 1px solid black;
        }
    </style>
     <body>
         <h3>Hello Team please check we have a new query</h3>
         <h4>Here is the Details:</h4>
         <div>
            <table >
                <tr>
                    <th>Name</th>
                    <td><%= getInTouch.name %></td>
                </tr>
                <tr>
                    <th>Number</th>
                    <td><%= getInTouch.mobileNumber %></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><%= getInTouch.email %></td>
                </tr>
                <tr>
                    <th>Organisation</th>
                    <td><%= getInTouch.organisation %></td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td><%= getInTouch.message %></td>
                </tr>
            </table>
        </div>
     </body>
 </head>
 <footer>

 </footer>
</html>