<html>
 <head>
     <body>
         <h4>We have recieved an RFQ from <%= name %> from <%= companyname %>. Here are the details.</h4>
        <h4>Company Name :<%= companyname %></h4>
        <h4>Name :<%= name %></h4>
        <h4>Email :<%= email %></h4>
        <h4>Phone Number :<%= number %></h4>
        <h4>File :<a href="https://api.prodo.in/<%= file %>">Download</a></h4>
        <div >
            <h4>Products :<%= products %></h4>
        </div>
     </body>
 </head>
 <footer>

 </footer>
</html>
