<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            table, th, td {
            border: 1px solid black;
            }
        </style>
        <body>
            <h3>Hello Team</h3>
            <p>Order placed by <%= name %> from <%= companyName %> </p>
            <p>order summary:</p>
            <div>
                <table >
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                    </tr>
                    <% for(var i=0; i < products.length; i++) { %>
                        <tr>
                          <td><%= products[i].productName %></td>
                          <td><%= products[i].quantity %></td>gi
                        </tr>
                     <% } %>
                </table>
            </div>
            <p>ORDER NO: <%= orderNumber %></p>
            <p>Date: <%= date %></p>
            <p>Shipping: <%= shippingAdress.addressLine1 %>, <%=shippingAdress.addressLine2  %>, <%=shippingAdress.city  %>, <%=shippingAdress.state  %>, <%=shippingAdress.country  %>, <%=shippingAdress.zipCode %></p>
            <!-- <p>Total: <%= total %></p> -->
            <!-- <a href="<%= shopMoreUrl %>">
                <button >SHOPE MORE</button>
            </a> -->
        </body>
    </head>
</html>