<html>
 <head>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
        border: 1px solid black;
        }
    </style>
     <body>
         <h3>Hello Test</h3>
         <p>Test hora h:</p>
         <div>
            <table >
                <tr>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>joker</th>
                </tr>
                    <tr>
                      <td><%= name %></td>
                      <td><%= mobileNumber %></td>
                      <td><%= email %></td>
                      <td><%= joker %></td>
                    </tr>
            </table>
        </div>
         
     </body>
 </head>
 <footer>

 </footer>
</html>