<html>
 <head>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
        border: 1px solid black;
        }
    </style>
     <body>
         <h3>Hello Team</h3>
         <p>Here the new user details:</p>
         <div>
            <table >
                <tr>
                    <th>Name</th>
                    <td><%= user.name %></td>
                </tr>
                <tr>
                    
                </tr>
                <tr>
                    <th>Mobile Number</th>
                    <td><%= user.contactNumber %></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><%= user.email %></td>
                    
                </tr>
                <tr>
                    <th>Designation</th>
                    <td><%= user.designation %></td>
                    
                </tr>
                <tr>
                    <th>Company Name</th>
                    <td><%= user.companyName %></td>
                </tr>
                <tr>
                    <th>Gstin</th>
                    <td><%= user.gstin %></td>
                </tr>
                <tr>
                    <th>Business Entity Name</th>
                    <td><%= user.businessEntityName %></td>
                </tr>
                <tr>
                    <th>Business Contact Number</th>
                    <td><%= user.businessContactNumber %></td>
                </tr>
                <tr>
                    <th>Business Registered Address</th>
                    <td><%= user.businessRegisteredAddress %></td>
                </tr>
                <tr>
                    <th>Business City</th>
                    <td><%= user.businessCity %></td>
                </tr>
                <tr>
                    <th>Business State</th>
                    <td><%= user.businessState %></td>
                </tr>
                <tr>
                    <th>Business PinCode</th>
                    <td><%= user.businessPinCode %></td>
                </tr>
            </table>
        </div>
         
     </body>
 </head>
 <footer>

 </footer>
</html>