<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <title>
        Join the Team </title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {

            font-size: 20px;
            width: 500px;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body>

    <table align="center" width="100%">
        <tr>
            <td align="center" width="100%">
                <div style=" background-color: #E9E9F0;">
                    <table align="center" style="padding: 15px;">
                        <tr>
                            <td>
                                <div style="background-color: #fff;">
                                    <table align="center" width="100%">
                                        <tr>
                                            <td>
                                                <table style="padding: 15px;" align="center">
                                                    <tr>
                                                        <td>
                                                            <table align="center" width="100%"
                                                                style="padding-bottom: 5px;">
                                                                <tr>
                                                                    <td align="left" width="50%">
                                                                        <img src="https://api.prodo.in/files/PRODO_logo-0629.png"
                                                                            width="50PX">
                                                                    </td>
                                                                    <td align="right" width="100%">
                                                                        <table>
                                                                            <tr>
                                                                                <td style="padding-right: 20px;">
                                                                                    <a href="https://prodo.in/login"
                                                                                        target="_blank"
                                                                                        style="color: #0396a1;
                                                                                        font-size: 0.8em;
                                                                                        font-weight: 700; text-decoration: none">DASHBOARD</a>

                                                                                </td>


                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center">
                                                <table align="center" width="100%">

                                                    <tr>
                                                        <td colspan="2" align="center" style="font-size: 0.8em;
                                                        font-weight: 400;
                                                        padding-top: 6px;">
                                                            Hello Team
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" align="center" style="font-size: 0.8em;
                                                        font-weight: 400;"> Here the candidate details:

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%" align="center">
                                                            <table
                                                                style='border-spacing:1px; padding-top: 15px; padding-bottom: 20px;'
                                                                width="100%">

                                                                <tr>
                                                                    <td style="background-color: #0597a1;
                                                                    width: 40%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 600;
                                                                    padding: 5px;
                                                        ">Name</td>
                                                                    <td style="background-color: #68BFC6;
                                                                    width: 60%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 500;
                                                                    padding: 5px;">
                                                                        <%= name %>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="background-color: #0597a1;
                                                                    width: 40%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 600;
                                                                    padding: 5px;">Mobile Number</td>
                                                                    <td style="background-color: #68BFC6;
                                                                    width: 60%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 500;
                                                                    padding: 5px;">
                                                                        <%= mobileNumber %>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="background-color: #0597a1;
                                                                    width: 40%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 600;
                                                                    padding: 5px;">Email</td>
                                                                    <td style="background-color: #68BFC6;
                                                                    width: 60%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 500;
                                                                    padding: 5px;">
                                                                        <%= email %>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="background-color: #0597a1;
                                                                    width: 40%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 600;
                                                                    padding: 5px;">Linkedin Profile </td>
                                                                    <td style="background-color: #68BFC6;
                                                                    width: 60%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 500;
                                                                    padding: 5px;">
                                                                        <%= linkedin %>
                                                                </tr>
                                                                <tr>
                                                                    <td style="background-color: #0597a1;
                                                                    width: 40%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 600;
                                                                    padding: 5px;">Resume</td>
                                                                    <td style="background-color: #68BFC6;
                                                                    width: 60%;
                                                                    color: #fff;
                                                                    font-size: 0.6em;
                                                                    font-weight: 500;
                                                                    padding: 5px;">
                                                                </tr>

                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2">
                                                            <hr>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" width="100%" colspan="2"
                                                            style="font-size: 0.6em;">
                                                            Need help? Ask at <a href="mailto:help@prodo.in"
                                                                style="color:#68BFC6;">help@prodo.in</a>
                                                            or visit our
                                                            <span style="color:#68BFC6;"> Help Center</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" width="100%" colspan="2"
                                                            style="padding-top: 15px; padding-bottom: 0px;">
                                                            <img src="https://api.prodo.in/files/FooterImage-9a10a.png"
                                                                width="50%">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" width="100%" colspan="2" style="padding: 0px;">
                                                <div style="background-color: #68BFC6;">
                                                    <table align="center" width="100%" style="padding: 0px;">
                                                        <tr>
                                                            <td align="center" width="100%" style="font-size: 0.8em;
                                                            padding: 10px 25px;
                                                            font-weight: 300;;
                                                        ">
                                                                in case there are any questions regarding your order
                                                                feel free to contact us. we're always glad to help.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="100%">
                                <table>
                                    <tr>
                                        <td align="center" width="100%">
                                            <table style="padding: 5px;">
                                                <tr>
                                                    <td style="padding-right: 10px;"> <a href="https://wa.me/+918698001001"
                                                            target="_blank"><img
                                                                src="https://api.prodo.in/files/whatsapp-88cf.png"
                                                                width="20px" height="20px"></a>
                                                    </td>
                                                    <td style="padding-right: 10px;"> <a
                                                            href="mailto:help@prodo.in"><img
                                                                src="https://api.prodo.in/files/mail-afd3.png"
                                                                width="20px" height="20px"></a></td>
                                                    <td style="padding-right: 10px;"> <a
                                                            href="https://www.linkedin.com/company/prodoglobal"
                                                            target="_blank"><img
                                                                src="https://api.prodo.in/files/linkedin-e2e10.png"
                                                                width="20px" height="20px"></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" width="100%">
                                            <table align="center" width="100%">
                                                <tr>
                                                    <td align="center" width="100%" style="font-weight: 700;
                                                    font-size: 0.9em;">
                                                        &copy;Prodo Technologies Pvt Ltd
                                                        2022
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <table align="center">
                                                <tr>
                                                    <td style=" font-size: 0.5em;
                                                    padding-right: 6px;
                                                    font-weight: 500;">
                                                        <a href="https://prodo.in/get-in-touch" target="_blank" style=" text-decoration: none;
                                                        color: gray;
                                                        cursor: pointer;">GET
                                                            IN TOUCH</a>
                                                    </td>
                                                    <td>
                                                        <img src="https://api.prodo.in/files/Line-40d4.png"
                                                            style="width: 2px; height: 15px; ">
                                                    </td>
                                                    <td style="padding-left: 5px;  font-size: 0.5em;
                                                    padding-right: 6px;
                                                    font-weight: 500;"> <a
                                                            href="https://static.prodo.in/assets/pdfs/Privacy_Policy.pdf"
                                                            target="_blank" style=" text-decoration: none;
                                                            color: gray;
                                                            cursor: pointer;">RETURNS & REFUNDS</a></td>
                                                    <td> <img src="https://api.prodo.in/files/Line-40d4.png"
                                                            style="width: 2px; height: 15px;">
                                                    </td>
                                                    <td style="padding-left: 5px;  font-size: 0.5em;
                                                    padding-right: 6px;
                                                    font-weight: 500;"><a
                                                            href="https://static.prodo.in/assets/pdfs/Prodo_Refund_and_Return_Policy.pdf"
                                                            target="_blank" style=" text-decoration: none;
                                                            color: gray;
                                                            cursor: pointer;">PRIVACY POLICY</a></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="font-size: 0.6em; color: #c31b81; font-weight: 300;">
                                            we hope you enjoy emails from Prodo. if you wish to unsubscribe,please
                                            <a href="" style="color: #6cc1c8;"> click here</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>