<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <title>
        new Joining </title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            font-size: 12px;
            color: black;
            font-family: Montserrat !important;
            width: 100%;
        }
        table {
    border-spacing: 0px !important;
}

    </style>
</head>

<body>
    <table style="background-color: #0095a0; min-height: 400px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    " align="center" width="400px">
        <tr>
            <td>
                <div style="padding: 10px; ">
                    <table
                        style="background: #fff !important; border-radius: 20px; width: 400px; padding-top: 10px;">

                        <tr>
                            <td>
                                <div style="padding-left:20px;">
                                    <img src="https://prodo-files-upload.s3.ap-south-1.amazonaws.com/files/PRODO%20full%20logo%2027.png"
                                        width="100px">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="padding-left:20px; padding-right: 10px;
                                ">
                                    <tr>
                                        <td style="font-size: 2.8rem;
                                        font-weight: 900 !important; color: #000; margin-bottom: 20px; font-family: Montserrat !important;">
                                            <span style="font-weight:900 !important;">Welcome</span>
                                           <span  style="font-weight:900 !important;">To Prodo</span>
                                           
                                        </td>
                                        <td>
                                            <img src="https://prodo-files-upload.s3.ap-south-1.amazonaws.com/files/newjoinerVector.png"
                                                style="width: 180px;">
                                        </td>
                                    </tr>

                                </table>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <table width="100%">
                                    <% for(var i=0; i < users.length; i++){ %>

                                        <% if(i%2==0 || i==0 ){ %>

                                            <tr>
                                                <td>
                                                    <div style="background-color:#89d1d3;  border-radius: 30px;  max-height: 320px; margin: 10px 10px;
                                                ">
                                                        <table>
<!-- 
                                                            <tr>
                                                                <td colspan="2">
                                                                    <div style="padding-left: 30px;">
                                                                        <img src="https://prodo-files-upload.s3.ap-south-1.amazonaws.com/files/comma1.png"
                                                                            width="40px" height="40px">
                                                                    </div>

                                                                </td>
                                                            </tr> -->
                                                            <tr>
                                                                <td align="center"
                                                                    style="padding: 30px  15px 20px 15px;">
                                                                    <div
                                                                        style="border: 3px solid white; border-radius: 100%; padding: 0px; overflow: hidden; width: 120px;
                                                                        height: 120px;">
                                                                        <img src=<%=users[i].profile %>
                                                                        width="120px; " height="120px;" style=" ">
                                                                    </div>

                                                                </td>
                                                                <td style="padding-left: 15px; min-width:200px;">
                                                                    <div
                                                                        style="font-size: 20px;  font-weight: 700; color: #0095a0; padding-top: 5px;  font-family: Montserrat !important;" >
                                                                        <%= users[i].name %>
                                                                    </div>
                                                                    <div
                                                                        style="font-size: 14px;  font-weight: 700; color: #c4027f; padding-top: 5px;  font-family: Montserrat !important;">
                                                                        <%= users[i].designation %>
                                                                    </div>
                                                                    <div
                                                                        style="font-size: 12px;  font-weight: 600; color: #ffff; padding-top: 5px; padding-bottom: 15px;  font-family: Montserrat !important;">
                                                                        <%= users[i].introduction %>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                </td>
                                            </tr>
                                            <% } %>
                                                <% if(i%2==1){ %>
                                                    
                                                    <tr>
                                                        <td>
                                                            <div style="background-color:#89d1d3;  border-radius: 30px;  max-height: 320px; margin: 10px 10px;
                                                        ">
                                                                <table>
        <!-- 
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <div style="padding-left: 30px;">
                                                                                <img src="https://prodo-files-upload.s3.ap-south-1.amazonaws.com/files/comma1.png"
                                                                                    width="40px" height="40px">
                                                                            </div>
        
                                                                        </td>
                                                                    </tr> -->
                                                                    <tr>
                                                                        
                                                                        <td style="padding-right: 15px; min-width:200px;">
                                                                            <div
                                                                                style="font-size: 20px;  font-weight: 700; color: #0095a0; padding-top: 5px; text-align: right;  font-family: Montserrat !important;">
                                                                                <%= users[i].name %>
                                                                            </div>
                                                                            <div
                                                                                style="font-size: 14px;  font-weight: 700; color: #c4027f; padding-top: 5px; text-align: right;  font-family: Montserrat !important;">
                                                                                <%= users[i].designation %>
                                                                            </div>
                                                                            <div
                                                                                style="font-size: 12px;  font-weight: 600; color: #ffff; padding-top: 5px;padding-bottom: 15px; text-align: right;  font-family: Montserrat !important;">
                                                                                <%= users[i].introduction %>
                                                                            </div>
                                                                        </td>
                                                                        <td align="right"
                                                                            style="padding: 30px  15px 20px 15px;">
                                                                            <div
                                                                                style="border: 3px solid white; border-radius: 100%; padding: 0px; overflow: hidden; width: 120px;
                                                                                height: 120px;">
                                                                                <img src=<%=users[i].profile %>
                                                                                width="120px; " height="120px;" style=" ">
                                                                            </div>
        
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
        
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } %>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="float: right;
                                ">
                                    <img src="https://prodo-files-upload.s3.ap-south-1.amazonaws.com/files/footer_vactor_newjoing.png"
                                        width="270px;" height="240px ">
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>